.dashboard {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   height: 92vh;
}

.cards_date {
   display: flex;
   align-items: center;
   flex-direction: column;
}

.cards {
   display: flex;
   gap: 1rem;
   margin: 1rem;
}

.searchDate {
   display: flex;
   align-items: center;
   gap: 1rem;
}

.dashs {
   display: flex;
   align-items: center;
   gap: 1rem;
   height: 66vh;
}

.iconSearch {
   width: 1.5rem;
   height: 1.5rem;
   cursor: pointer;
}


