.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 110vh;
    height: 90vh;

    .divTable {
      border-radius: 24px;
      box-shadow: 0 8px 16px rgba(0, 0, 0, .05), 0 8px 16px rgba(0, 0, 0, .3);
      padding: 1.5rem;
    }
  
    .table {
      width: 100vh;
      border-spacing: 0 8px;
      text-align: center;
      
    //   .th_thead {
    //     width: 2rem;
    //     text-align: center;
    //   }
  
      td, th {
        text-align: center;
        padding: 10px;
      }
  
    }
  }

  .iconInfo {
    width: 1.5rem;
    height: 1.5rem;
    margin-bottom: 0.3rem;
  }
  
