.pageCreateConsult {
   display: flex;
   flex-direction: column;
   height: 90vh;
}

.forms {
   overflow-y: hidden;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 90vh;
}