.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 110vh;
    height: 90vh;
    align-items: center;
    
.divTable {
    background-color: #f14d4d;
    color: #fff;
    border-radius: 24px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, .05), 0 8px 16px rgba(0, 0, 0, .3);
    padding: 1.5rem;
}

}

