.container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.containerForm {
  width: 600px;
  display: flex;
  flex-direction: column;
  background: #cdcdcd;
  padding: 4rem;
  border-radius: 24px;
}

.doctor {
  display: flex;
  gap: 1rem;

  .inputDoctor {
    width: 210px;
  }
  .inputDoctorEspc {
    width: 249px;
  }
}

.money {
  display: flex;
  gap: 2rem;
  margin-bottom: 1rem;
}

.inputMoney::placeholder {
  font-size: 0.88rem;
}
